
{% load base_filters %}
{%  get_nav_links as get_nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="{% url 'stories:index' %}">Stories<span>.</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                {% for links in get_nav %}
                {% if links.url == 'account/login' %}
                {% if not user.is_authenticated %}
                     <li class="nav-item {% if request.resolver_match.url_name == links.url %} active {% endif %}"><a href="/{{links.url}}" class="nav-link">{{links.title}}</a></li>
                    
                    {% else %}
                     <li class="nav-item {% if request.resolver_match.url_name == links.url %} active {% endif %}"><a href="{% url 'accounts:logout' %}" class="nav-link">Log out</a></li>
                     <li class="nav-item {% if request.resolver_match.url_name == links.url %} active {% endif %}"><a href="{% url 'stories:user-profile' request.user.id %}" class="nav-link">Profile</a></li>
                    {% endif %}
                    {% else %}
                     {% if not links.url == 'account/register' %}
                    <li class="nav-item {% if request.resolver_match.url_name == links.url %} active {% endif %}"><a href="/{{links.url}}" class="nav-link">{{links.title}}</a></li>
                    
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    
                    
                </ul>
            </div>
        </div>
    </nav>